.table-brd {
    position: relative
}
.estimate-table td {
    border: 1px solid;
    font-size: 12px;
}
.estimate-buttons {
    display: flex;
    flex-direction: row;
}
/* .estimate-buttons > div {
    padding-right: 10px;
} */
.close-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.close-btn-scaled {
    transform: scale(1.1);

}
