.objects-list {
}
.objects-list-header {
    display: grid;
    grid-template-columns: 10% auto auto auto;
    gap: 5px;
}
.objects-list-header-obj {
    background: fixed grey;
}
.objects-list-data {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}
.objects-list > div:nth-child(even) {
    background-color: greenyellow;
}
.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .main-list { */
    /* display: flex; */
    /* border: solid 3px greenyellow; */
    /* width: 100%;
    margin-bottom: 1px;
}

.main-list-obj {
    /* border: solid 1px greenyellow; */
    /* flex-basis: 30%;
    cursor: pointer;
} */ 
