.name-obj {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#root {
    width: 100vw;
}
.App {
    width: 90%;
    margin: 0 auto;
}
